.navbar-collapse{
    padding: 0 15px;
    width: 100%;
}
.navbar-nav{
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav li a{
    margin: 0 15px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
    position: relative;
    font-weight: 500;
    opacity: 1;
    word-break: normal;
    -webkit-transition: .3s;
    transition: .3s;
}
.navbar-nav li a:hover {
  color: #6c757d;
    opacity: 0.5;
    transition: .3s;
}